<app-button
  [label]="label"
  [type]="type"
  [btnClass]="btnClass"
  [size]="size"
  [shape]="shape"
  [block]="block"
  [danger]="danger"
  [isDisabled]="isObservable(isDisabled) ? (isDisabled | async) : !!isDisabled"
  [leftIcon]="leftIcon"
  [rightIcon]="rightIcon"
  [theme]="theme"
  [twotoneColor]="twotoneColor"
  [action$]="action$"
></app-button>

<app-button
  *ngIf="link"
  [label]="label"
  [type]="type"
  [btnClass]="btnClass"
  [size]="size"
  [shape]="shape"
  [block]="block"
  [danger]="danger"
  [isDisabled]="isObservable(isDisabled) ? (isDisabled | async) : !!isDisabled"
  [leftIcon]="leftIcon"
  [rightIcon]="rightIcon"
  [theme]="theme"
  [twotoneColor]="twotoneColor"
  [linkTarget]="linkTarget"
  [link]="link"
  [queryParams]="queryParams"
  [fragment]="fragment"
></app-button>
