<nz-form-item
  *ngIf="control"
  [class.validation]="control.dirty && (getErrorMessage | executeWith : control.errors)"
  [class.mb-0]="noMarginBottom"
  [class.mb-3]="!noMarginBottom"
>
  <nz-form-label
    [class.no-label]="!label"
    [nzFor]="fieldId"
    [nzTooltipTitle]="tooltipTitle"
    [nzTooltipIcon]="tooltipIcon"
    [nzLabelAlign]="labelAlign"
    [nzNoColon]="noColon"
    [nzSpan]="labelSpan"
  >
    {{ label }}
    <span *ngIf="!noValidationMark && hasRequiredValidator" class="required">*</span>
  </nz-form-label>
  <nz-form-control
    [nzValidateStatus]="status"
    [nzErrorTip]="getErrorMessage | executeWith : control.errors"
    [nzSpan]="fieldSpan"
  >
    <nz-textarea-count
      *ngIf="maxCharacterCount"
      [nzMaxCharacterCount]="maxCharacterCount"
      [nzComputeCharacterCount]="computeCharacterCount"
    >
      <textarea
        nz-input
        [id]="fieldId"
        [formControl]="control"
        [placeholder]="placeholder"
        [disabled]="!!isDisabled"
        [nzAutosize]="(!!minRows || !!maxRows) && { minRows, maxRows }"
        [rows]="rows"
        (ngModelChange)="valueChange.emit($event)"
      ></textarea>
    </nz-textarea-count>
    <textarea
      *ngIf="!maxCharacterCount"
      nz-input
      [id]="fieldId"
      [formControl]="control"
      [placeholder]="placeholder"
      [disabled]="!!isDisabled"
      [nzAutosize]="(!!minRows || !!maxRows) && { minRows, maxRows }"
      (ngModelChange)="valueChange.emit($event)"
    ></textarea>
  </nz-form-control>
</nz-form-item>
