<nz-form-item *ngIf="control" [class.validation]="control.dirty && (getErrorMessage | executeWith : control.errors)">
  <nz-form-label
    [nzFor]="fieldId"
    [nzRequired]="!noValidationMark && hasRequiredValidator"
    [nzTooltipTitle]="tooltipTitle"
    [nzTooltipIcon]="tooltipIcon"
    [nzLabelAlign]="labelAlign"
    [nzNoColon]="noColon"
    [nzSpan]="labelSpan"
  >
    {{ label }}
  </nz-form-label>
  <nz-form-control
    [nzValidateStatus]="status"
    [nzErrorTip]="getErrorMessage | executeWith : control.errors"
    [nzSpan]="fieldSpan"
  >
    <quill-editor [style.height.px]="rows * 22" [formControl]="control"></quill-editor>
  </nz-form-control>
</nz-form-item>
