@import '../styles';

::ng-deep {
  .validation {
    .ql-toolbar {
      border-top: 1px solid #ff4d4f;
      border-left: 1px solid red;
      border-right: 1px solid red;
    }

    .ql-container {
      border-bottom: 1px solid #ff4d4f;
      border-left: 1px solid #ff4d4f;
      border-right: 1px solid #ff4d4f;
    }
  }

  .ql-container {
    display: flex;
    flex-direction: column;

    .ql-blank {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
  }
}
