<nz-form-item
  *ngIf="control"
  [class.validation]="control.dirty && (getErrorMessage | executeWith : control.errors)"
  [class.mb-0]="noMarginBottom"
  [class.mb-3]="!noMarginBottom"
>
  <nz-form-label
    [nzFor]="fieldId"
    [nzTooltipTitle]="tooltipTitle"
    [nzTooltipIcon]="tooltipIcon"
    [nzLabelAlign]="labelAlign"
    [nzNoColon]="noColon"
    [nzSpan]="labelSpan"
  >
    {{ label }}
    <span *ngIf="!noValidationMark && hasRequiredValidator" class="required">*</span>
  </nz-form-label>
  <nz-form-control
    [nzValidateStatus]="status"
    [nzErrorTip]="getErrorMessage | executeWith : control.errors"
    [nzSpan]="fieldSpan"
  >
    <quill-editor
      class="d-flex flex-column"
      [styles]="{ height: rows * 22 + 'px' }"
      [styles]="styles"
      [format]="format"
      [placeholder]="placeholder"
      [formControl]="control"
    ></quill-editor>
  </nz-form-control>
</nz-form-item>
