@use './styles/colors' as var;

:host {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var.$grey-color-1;
}

app-locale-switcher {
  position: absolute;
  top: 15px;
  right: 50px;
}
