<ag-grid-angular
  *ngIf="gridOptions"
  class="ag-theme-alpine"
  [gridOptions]="gridOptions"
  [columnDefs]="colDefs"
  [rowData]="rowData"
  [defaultColDef]="assign | executeWith : gridOptions.defaultColDef : defaultColDef"
  [domLayout]="'autoHeight'"
  [animateRows]="true"
  [getRowId]="gridOptions.getRowId ?? defaultGetRowId"
  [suppressDragLeaveHidesColumns]="true"
  [enableCellTextSelection]="true"
  [suppressRowClickSelection]="true"
  [suppressMultiSort]="true"
  [noRowsOverlayComponent]="noRowsOverlayComponent"
  (sortChanged)="sortChanged.emit($event)"
  (gridReady)="gridReady.emit($event)"
></ag-grid-angular>
