@use './styles/colors' as var;

.container {
  min-width: 450px;
  min-height: 350px;
  border: 1px solid var.$grey-color-3;
  box-shadow: 5px 5px 10px var.$grey-color-3;
  background-color: var.$white-color;
}

.bad-request {
  font-size: 64px;
}
