<nz-form-item *ngIf="control" [class.validation]="control.dirty && (getErrorMessage | executeWith : control.errors)">
  <nz-form-label
    [nzFor]="fieldId"
    [nzRequired]="hasRequiredValidator"
    [nzTooltipTitle]="tooltipTitle"
    [nzTooltipIcon]="tooltipIcon"
    [nzLabelAlign]="labelAlign"
    [nzNoColon]="noColon"
    [nzSpan]="labelSpan"
  >
    {{ label }}
  </nz-form-label>
  <nz-form-control
    [nzValidateStatus]="status"
    [nzErrorTip]="getErrorMessage | executeWith : control.errors"
    [nzSpan]="fieldSpan"
  >
    <nz-select
      [nzId]="fieldId"
      [formControl]="control"
      [nzOptions]="options ?? []"
      [nzAutoClearSearchValue]="isAutoClearSearch"
      [nzAllowClear]="isAllowClear"
      [nzBackdrop]="isBackdrop"
      [nzBorderless]="isBorderless"
      [nzOpen]="isOpen"
      [nzDisabled]="isDisabled"
      [nzDropdownClassName]="dropdownClassName ?? null"
      [nzDropdownMatchSelectWidth]="isDropdownWidthAsSelect"
      [nzDropdownStyle]="dropdownStyle ?? null"
      [nzCustomTemplate]="customTemplate ?? null"
      [nzServerSearch]="isServerSearch"
      [nzFilterOption]="filterOptionFn"
      [nzMaxMultipleCount]="maxMultipleCount"
      [nzMode]="mode"
      [nzPlacement]="placement"
      [nzNotFoundContent]="notFoundContent"
      [nzPlaceHolder]="placeholder"
      [nzShowArrow]="isShowArrow"
      [nzShowSearch]="isShowSearch"
      [nzSize]="fieldSize"
      [nzStatus]="status"
      [nzSuffixIcon]="suffixIcon ?? null"
      [nzRemoveIcon]="removeIcon ?? null"
      [nzClearIcon]="clearIcon ?? null"
      [nzMenuItemSelectedIcon]="menuItemSelectedIconIcon ?? null"
      [nzTokenSeparators]="tokenSeparators"
      [nzLoading]="isLoading"
      [nzMaxTagCount]="maxTagCount"
      [nzMaxTagPlaceholder]="maxTagPlaceholder ?? defauldMaxTagPlaceholder"
      [nzOptionHeightPx]="optionHeightPx"
      [nzOptionOverflowSize]="optionOverflowSize"
      (ngModelChange)="valueChange.emit($event)"
      (nzOpenChange)="openChanged.emit($event)"
      (nzScrollToBottom)="scrollToBottom.emit($event)"
      (nzOnSearch)="searchChanged.emit($event)"
    ></nz-select>
  </nz-form-control>
</nz-form-item>

<ng-template #defauldMaxTagPlaceholder let-selectedList>and {{ selectedList.length }} more selected</ng-template>
