@use './styles/colors' as var;

:host {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var.$blue-color-1;
}

.container {
  position: relative;
  box-sizing: border-box;
  max-width: 750px;
  width: 750px;
  max-height: 500px;
  height: 500px;
  border: 1px solid var.$grey-color-3;
  box-shadow: 10px 10px 20px var.$grey-color-3;
}

.left-container {
  width: 50%;
  background-color: var.$blue-color-4;
}

.right-container {
  width: 50%;
  background-color: var.$white-color;
}

.text-grey-3 {
  color: var.$grey-color-3;
}

.text-grey-1 {
  color: var.$grey-color-1 !important;
}
