<nz-layout class="d-flex flex-column">
  <nz-header class="d-flex align-items-center content-end gap-4 w-100">
    <app-button type="primary" label="Logout" leftIcon="logout" [action$]="logout"></app-button>
    <app-locale-switcher></app-locale-switcher>
  </nz-header>

  <nz-layout class="mt-16">
    <nz-sider nzCollapsible [nzCollapsedWidth]="50" [nzWidth]="220" (nzCollapsedChange)="isCollapsed = $event">
      <app-sidebar themeType="dark" [sidebarItems]="SIDEBAR_MENU_ITEMS" [isCollapsed]="isCollapsed"></app-sidebar>
    </nz-sider>
    <nz-content class="p-10" [ngClass]="isCollapsed ? 'sidebar-collapsed' : 'sidebar-expanded'">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>

  <nz-footer>
    <span nz-icon nzType="copyright" nzTheme="outline"></span>
    Knights and Merchants Remake
  </nz-footer>
</nz-layout>
