@use 'styles/colors' as var;

:host {
  position: relative;
  display: block;
  width: 100%;
}

.post-hide {
  max-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-show {
  max-height: unset;
  overflow: visible;
  text-overflow: unset;
}

.post-liked {
  color: var.$red-color-4;
}

.actions-top {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);

  .category {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
  }
}
