<mat-card>
  <img class="img-fluid" mat-card-image [src]="post.headerImg" />

  <mat-card-header>
    <div class="actions-top">
      <button mat-flat-button>{{ post.category }}</button>
      <button [color]="isPostLiked ? 'warn' : undefined" mat-icon-button (click)="likePost()">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>

    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>
      <span>Posted on {{ post.dateCreated }}</span>
      <span> by {{ post.createdBy }}</span>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <span>Updated on {{ post.dateUpdated }}</span>
      <span> by {{ post.updatedBy }}</span>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p *ngIf="showContent" [innerHTML]="post.text | safeHtml"></p>
    <button mat-button color="primary" (click)="hideOrShowContent()">
      {{ showContent ? 'Show less' : 'Show more' }}
    </button>
  </mat-card-content>

  <mat-card-actions align="end">
    <button *ngIf="post.commentCount > 0" mat-raised-button color="primary">
      {{ post.commentCount }} {{ post.commentCount === 1 ? 'comment' : 'comments' }}
    </button>
  </mat-card-actions>
</mat-card>
