.validation {
  position: relative;
  animation-name: validation;
  animation-duration: 0.5s;

  @keyframes validation {
    0% {
      left: -1px;
    }
    25% {
      left: 1px;
    }
    50% {
      left: -1px;
    }
    75% {
      left: 1px;
    }
    100% {
      left: -1px;
    }
  }
}
