$black-color: #000000;
$white-color: #ffffff;

$grey-color-1: #f8f9fa;
$grey-color-2: #dee2e6;
$grey-color-3: #adb5bd;
$grey-color-4: #495057;
$grey-color-5: #343a40;
$grey-color-6: #212529;

$red-color-1: #eaa8a8;
$red-color-2: #e56b6b;
$red-color-3: #ec4040;
$red-color-4: #de1616;
$red-color-5: #bb0000;
$red-color-6: #aa0000;

$orange-color-1: #ffb600;
$orange-color-2: #ff9e00;
$orange-color-3: #ff8500;
$orange-color-4: #ff6d00;
$orange-color-5: #ff5400;
$orange-color-6: #ff4800;

$yellow-color-1: #fffae5;
$yellow-color-2: #fff2b2;
$yellow-color-3: #ffe97f;
$yellow-color-4: #ffe14c;
$yellow-color-5: #ffd819;
$yellow-color-6: #ffd400;

$brown-color-1: #ffedd8;
$brown-color-2: #e7bc91;
$brown-color-3: #bc8a5f;
$brown-color-4: #8b5e34;
$brown-color-5: #603808;
$brown-color-6: #583101;

$green-color-1: #b7efc5;
$green-color-2: #6ede8a;
$green-color-3: #2dc653;
$green-color-4: #208b3a;
$green-color-5: #155d27;
$green-color-6: #10451d;

$blue-color-1: #e3f2fd;
$blue-color-2: #90caf9;
$blue-color-3: #42a5f5;
$blue-color-4: #1e88e5;
$blue-color-5: #1565c0;
$blue-color-6: #0d47a1;

$violet-color-1: #dec9e9;
$violet-color-2: #d2b7e5;
$violet-color-3: #b185db;
$violet-color-4: #9163cb;
$violet-color-5: #7251b5;
$violet-color-6: #6247aa;
